{% extends "base.html" %}
{% block content %}
 {% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'mainpg/face.css' %}" />

<div id="content">
    <div id="rightnewsaggr">
        <ul>
        {% for news in posts %}
        <li><a href="news/{{ news.id }}">
            
            <h2>{{ news.title }}</h2>
            <font size=2 face='arial'>
            <p>{{ news.timestamp }}</p>
            <p>{{ news.body }}</p>
            </font>
        </a></li>
        {% endfor %}
        </ul>
    </div>



</div>
{% endblock %}