{% extends "base.html" %}
{% block content %}
<style type="text/css">
    #rightnewsaggr { display: flex; flex-direction: column;
    background: #55a;
    left: 80%; position: absolute; 
    height: 50%; width: 20%; overflow: auto;}
</style>
<div id="content">
    <div id="rightnewsaggr">
        <ul>
        {% for post in posts %}
        <li><div id="elemnews">
            
            <h2>{{ post.title }}</h2>
            <font size=2 face='arial'>
            <p>{{ post.timestamp }}</p>
            <p>{{ post.body }}</p>
            </font>
        </div></li>
        {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}