#rightnewsaggr { display: flex; flex-direction: column;
    background: #698;
    left: 80%; position: absolute; 
    height: 50%; width: 20%; overflow-y: auto; overflow-x: hidden; margin-top: 2em}

#rightnewsaggr ul { 
    list-style-type: none;
    padding-left: 10;
    padding-right: 10;
    }

#rightnewsaggr ul li {
    float: left;
}

#rightnewsaggr ul li a {
    display: block;
    color: white;
    text-decoration: none;
}

#rightnewsaggr ul li a:hover {
    background-color: #444;
}