{% extends "base.html" %}
{% block content %}
{% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'w3style.css' %}" />
<style type="text/css">

a.tile {
    display: block;
    color: white;
    text-decoration: none;
}

.w3-card-4 {
    margin: 8px;
}

.container {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: stretch;
}

a.tile:hover {
    background-color: #951;
}
</style>
<div class="container">
    {% for post in posts %}
    <div class="w3-half">
        <div class="w3-card-4" style=" background-color: #595">
            <a class="tile" href="{% url 'newsdetail' post.id %}">
                <header class="w3-container w3-blue">
                    <h1>{{ post.title }}</h1>
                </header>

                <div class="w3-container">
                    <font size=4 face='arial'><p>{{ post.body }}</p> </font>
                </div>

                <footer class="w3-container w3-blue">
                    <h5>{{ post.timestamp }}</h5>
                </footer>
            </a>
        </div>
    </div>
    {% endfor %}

</div>



{% if posts.has_other_pages %}
<div class="w3-center">
<div class="w3-bar">
    {% if posts.has_previous %}
        <a href="?page={{ posts.previous_page_number }}" class="w3-bar-item w3-button">&laquo;</a>
    {% endif %}

    {% for i in posts.paginator.page_range %}
      {% if posts.number == i %}
        <a href="?page={{ i }}" class="w3-button w3-red">{{ i }}</a>
      {% else %}
        <a href="?page={{ i }}" class="w3-button">{{ i }}</a>
      {% endif %}
    {% endfor %}

{% if posts.has_next %}
<a href="?page={{ posts.next_page_number }}" class="w3-button">&raquo;</a>
{% endif %}

</div>
</div>
{% endif %}
{% endblock %}