<html>
    <head> 
        <title>{% block title %} News {% endblock %}</title>
    </head>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
    <body>
        <div id="header">
            <h1>Zingeria news</h1>
        </div>
            <ul id="navbarul">
                <li><a href="/">Main</a></li>
                <li><a href="/news/">News</a></li>
                <li><a href="#">Your Feed</a></li>
                <li><a href="#">About</a></li>
            </ul>
        {% block content %}
        {% endblock %}
    </body>
</html>